@import "smart-grid"
@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #fff
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

b, strong
	font-weight: bold

img
	width: 100%
	&:focus
		outline: none

a
	text-decoration: none
	&:hover
		cursor: pointer
button
	border: none
	text-decoration: none
	&:hover
		cursor: pointer
.button
	margin: 0 auto
	display: block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 15px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer

	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32


+reset()



.debug
	z-index: 999999
	+debug(rgba(0,0,0,.5), 1px solid #ff0)

.container
	+wrapper()
	

.productItems
	+row-flex()
	
	justify-content: space-around	
	
.productItem
	padding: 20px
	margin: 20px 0		
	border-radius: 5px
	background-color: #fff

	+col()
	
	+size(4)

	+size-md(6)
	
	+size-xs(12)
	
	&__img

	&__title
		margin-top: 15px
		color: $accent
		font-size: 20px
		font-weight: 700
		text-align: center
		text-transform: uppercase
		font-weight: 500
	&__descr
		margin: 15px 0
		font-size: 18px
		font-weight: 400
	button
		font-weight: 300



/* ===========================Header_style========================*/
/* ===========================Home_main_slaider========================*/
/* ===========================Article_style========================*/
/* ===========================Home _banner========================*/
/* ===========================Logo_slaider========================*/
/* ===========================Tabs_contact========================*/
/* ===========================Section_footer========================*/




/* ===========================Header_style========================*/
.top-menu
	&-left
		min-height: 130px
		display: flex
		align-items: center
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 10px
	&-right
		min-width: 440px
		justify-content: space-between
		display: flex
		align-items: center
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 10px
.logo
	position: absolute
	left: 50%
	top: 0
	transform: translateX(-50%)
.header
	position: relative
	min-height: 90px
	color: #ffffff
	font-family: "GothamPro"
	font-size: 14px
	font-weight: 500
	line-height: 31px
	letter-spacing: 0.14px

	&-section
		background-color: $accent
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 10
	a
		color: #fff
	.webcamera
		padding: 4px 30px
		margin-right: 33px
		display: flex
		align-items: center
		background-color: #689a23
		border: 2px solid transparent
		svg
			margin-right: 15px
		&:hover
			background-color: transparent
	.logo
		width: 290px
		height: 170px
		background: $accent url('../img/logo.svg') center center no-repeat
		transition: all 0.5s ease-in-out
	.gallery
		display: flex
		.wrap-icon
			position: relative
			width: 30px
			height: 30px
			margin-right: 15px
			border-radius: 50%
			background-color: #689a23
			display: flex
			justify-content: center
			align-items: center
		&:hover
			.wrap-icon
				background-color: transparent
				border: 1px solid $accent
				box-sizing: border-box
	.tellink
		white-space: nowrap
	.menu-icon
		user-select: none
		transition: .25s ease-in-out
		overflow: hidden
		&:hover
			cursor: pointer
	.menu-icon.menu-active
		.top
			width: 0%
			transition-delay: 0s
			transition: .25s ease-in-out
		.middle
			width: 0%
			transition-delay: 0.125s
			transition: .35s ease-in-out
		.bottom
			width: 0%
			transition-delay: 0.250s
			transition: .45s ease-in-out

		.leaves
			transform: translateX(100%)
			transition-delay: 0.350s
			transition: .45s ease-in-out
		.word
			.m
				transform: translateY(-100%)
				transition-delay: 0s
				transition: .45s ease-in-out
			.e
				transform: translateY(-100%)
				transition-delay: 0.125s
				transition: .55s ease-in-out
			.n
				transform: translateY(-100%)
				transition-delay: 0.250s
				transition: .65s ease-in-out
			.u
				transform: translateY(-100%)
				transition-delay: 0.300s
				transition: .75s ease-in-out
		.cross_1
			width: 100%
			transform: rotate(45deg) translateY(49%) translateX(2%)
			transform-origin: 50% 50%
			transition-delay: 1.625s
			transition: .25s ease-in-out
			
		.cross_2
			width: 100%
			transform: rotate(-45deg) translateY(49%) translateX(-1%)
			transform-origin: 50% 50%
			transition-delay: 1.375s
			transition: .25s ease-in-out

	.menu-icon
		.menuIcon
			.st0
				fill: #ffffff
				stroke: #ffffff
				stroke-width: 0
		.top
			transition-delay: 0.5s
			transition: .25s ease-in-out
		.middle
			transition-delay: 0.625s
			transition: .35s ease-in-out
		.bottom
			transition-delay: 0.750s
			transition: .45s ease-in-out

		.leaves
			transform: translateX(0)
			transition-delay: 0.350s
			transition: .45s ease-in-out
		.word
			.m
				transform: translateY(0)
				transition-delay: 0s
				transition: .45s ease-in-out
			.e
				transform: translateY(0)
				transition-delay: 0.125s
				transition: .55s ease-in-out
			.n
				transform: translateY(0)
				transition-delay: 0.250s
				transition: .65s ease-in-out
			.u
				transform: translateY(0)
				transition-delay: 0.300s
				transition: .75s ease-in-out
		.cross_1
			width: 0%
			transform: rotate(45deg) translateY(49%)
			transform-origin: 50% 50%
			transition-delay: 1.375s
			transition: .25s ease-in-out

		.cross_2
			width: 0%
			transform: rotate(-45deg) translateY(49%)
			transform-origin: 50% 50%
			transition-delay: 1.375s
			transition: .25s ease-in-out
.language
	display: flex
	align-items: center
	margin-right: 33px
	&-btn
		position: relative
		width: 30px
		height: 30px
		margin-right: 15px
		display: block
		border-radius: 50%
		background-color: #689a23
		&::before
			position: absolute
			top: 50%
			left: 50%
			display: block
			content: ''
			transform: translate(-50%,0)
			border: 4px solid transparent
			border-top: 4px solid #fff
		&:hover
			cursor: pointer
	.lang__item
		a
			position: relative
			&::after
				position: absolute
				bottom: -2px
				left: 0
				content: ''
				display: block
				height: 1px
				width: 100%
				background-color: #fff
				transform: scale(0)
			&:hover
				&::after
					transition: 0.4s
					transform: scale(1)
	&__list
		max-height: 20px
		overflow: hidden
		line-height: 1.5
		transition: 0.6s
		&-active
			max-height: 44px
			height: auto
	&__item
/* ===========================Home_main_slaider========================*/
.section-main
	position: relative
	background-color: #777
	height: 100vh
	width: 100vw
	overflow: hidden
	.main-slider
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 100vh
		&-img
			width: 100vw
			height: 100vh
			&:nth-child(1)
				height: 100vh
				background: #eaeaea url('../img/home/home-bg.jpg') center center no-repeat
				background-size: cover
			&:nth-child(3)
				height: 100vh
				background: #eaeaea url('../img/home/home-bg.jpg') center center no-repeat
				background-size: cover
			&:nth-child(2)
				height: 100vh
				background: red url('../img/home/home__about.jpg') center center no-repeat
				background-size: cover

	.slaierNav
		padding: 55px 10px
		padding-left: 180px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		width: 585px
		min-height: 312px
		background-color: #ffffff
		opacity: 0.9
		box-sizing: border-box
		&::after
			content: ""
			display: block
			position: absolute
			bottom: 55px
			right: 65px
			width: 50px
			height: 44px
			background: url('../img/svg/leaves-w.svg') center center no-repeat
		&__title
			margin-bottom: 25px
			color: $accent
			font-size: 36px
			font-weight: 300
			line-height: 48px
			text-transform: uppercase
			letter-spacing: 2.52px
		.btn-slider-next, .btn-slider-prev
			margin-right: 15px
			position: relative
			width: 30px
			height: 30px
			margin-right: 15px
			border-radius: 50%
			background-color: transparent
			border: 1px solid $accent
			display: flex
			justify-content: center
			align-items: center
			svg
				fill: $accent
				stroke: $accent
				
				.arrow-line
					fill: $accent
					stroke-width: 5
				.arrow-angle
					fill: $accent
					stroke: $accent
					stroke-miterlimit: 10
					stroke-width: 3
			&:hover
				cursor: pointer
				background-color: $accent
				svg
					fill: #fff
					stroke: #fff
					.arrow-line
						fill: #fff
						stroke: #fff
					.arrow-angle
						fill: #fff
						stroke: #fff
		.btn-slider-prev
			transform: rotate(180deg)
		.arrows-block
			position: relative
			display: flex
			align-items: center
			&::after
				content: ""
				display: block
				position: absolute
				top: 50%
				right: 120px
				width: 168px
				height: 1px
				background-color: $accent

	&-down
		position: absolute
		bottom: 40px
		left: 50%
		width: 50px
		height: 50px
		border-radius: 50%
		background-color: $accent
		display: flex
		justify-content: center
		align-items: center
		opacity: .9
		transform: translateX(-50%)
		animation: bounce 2s infinite
		svg
			width: 27px
			fill: #fff
			stroke: #fff
			transform: rotate(90deg)
			.st0
				fill: #fff
				stroke: #fff
		&:hover
			cursor: pointer
/* ===========================Article_style========================*/
.section-title
	margin-bottom: 25px
	color: $accent
	font-family: "GothamPro"
	font-size: 30px
	font-weight: 300
	line-height: 40px
	letter-spacing: 2.1px
	text-transform: uppercase	
.article-block
	+row-flex()
	
	justify-content: space-between
	padding-bottom: 30px
	padding-top: 70px
.article
	+col()
	
	+size(7)
	
	color: #000000
	font-family: "GothamPro"
	font-weight: 400
	line-height: 26px
	overflow: hidden
	&__img
		height: 230px
		overflow: hidden
		position: relative
	&__descr
		position: relative
		padding: 35px 45px 20px 0px
		max-width: 420px
		transform: translateY(-50px)
		background-color: #fff
		border-bottom: 1px solid #efefef
		border-right: 1px solid #efefef
		box-sizing: border-box


	&__subtitle
		margin-bottom: 10px
		color: $accent
		font-size: 20px
		letter-spacing: 0.2px


	&__text
		letter-spacing: 0.12px
		font-size: 12px
		p
			margin-bottom: 20px
	&__btn
		position: absolute
		top: 115px
		right: -130px
		width: 130px
		height: 130px
		background-color: #efefef
		transform: translateY(-50%)
		display: flex
		justify-content: center
		align-items: center
		overflow: hidden
		&-text
			position: relative
			margin-left: 20px
			color: $accent
			font-size: 12px
			font-weight: 500
			letter-spacing: 0.12px
			svg
				position: absolute
				top: -6px
				width: 100%
				height: 13px
				fill: $accent
				stroke: $accent
				.arrow-line
					fill: #568F0A
					stroke-width: 0
				.arrow-angle
					fill: #568F0A
					stroke: #568F0A
					stroke-miterlimit: 10
					stroke-width: 1
			.leaves-w
				position: absolute
				top: 8%
				left: -45px
				width: 100%
				height: 90px
				transform: translateY(-50%)
				fill: $accent
				stroke: $accent
		&::before
			border-radius: 50%
			opacity: .5
			transform: translateX(-50%) translateY(-50%)
			content: ""
			position: absolute
			background: none repeat scroll 0 0 $accent
			height: 0%
			left: 50%
			top: 50%
			width: 0%
			z-index: -1
			transition: all .7s ease 0s
			
		&:hover
			cursor: pointer
			transition: all 0.5s
			&::before
				height: 150%
				opacity: 1
				width: 150%
			.article__btn-text
				color: #fff
				svg
					fill: #fff
					stroke: #fff
					.arrow-line
						fill: #fff
					.arrow-angle
						fill: #fff
						stroke: #fff
				.leaves-w
					.st0
						fill:none
						stroke: #fff
						stroke-width: 3
						stroke-linecap: round
						stroke-linejoin: round
						stroke-miterlimit: 10
			svg
				right: -10px
			.article__btn-text
				transition: all 0.5s
				transform: scale(1.1)
.article-slider
	&__nav
		position: absolute
		display: flex
		top: -44px
		left: 0
		width: 130px
		height: 44px
		background-color: #efefef
		&-left
			flex-basis: 50%	
			display: flex
			justify-content: center
			align-items: center
			svg
				width: 30px
				stroke: $accent
				stroke-width: 3px
				transform: rotate(180deg)
			&:hover
				cursor: pointer
		&-right
			flex-basis: 50%	
			display: flex
			justify-content: center
			align-items: center
			svg
				width: 30px
				stroke: $accent
				stroke-width: 3px
			&:hover
				cursor: pointer
	.article__descr
		padding: 0
	.article__text
		position: relative
		&-top
			padding: 26px 44px
			padding-right: 110px
			margin: 0
			min-height: 109px
			border-bottom: 1px solid #efefef
			box-sizing: border-box
		&-bottom
			padding-top: 20px
			padding-bottom: 40px
			padding-right: 70px
			margin: 0
			min-height: 109px
			box-sizing: border-box
			span
				margin-bottom: 6px
				font-size: 20px
				letter-spacing: 0.2px
	.slider__count
		position: absolute
		top: 32px
		left: 2px
		color: $accent
		font-size: 30px
		font-weight: 400
		line-height: 26px
		letter-spacing: 0.3px
/* ===========================Home _banner========================*/
.sectionHome__banner
	position: relative
	background-size: cover
	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, .5)
		z-index: -1
	&-wrap
		height: 330px
		display: flex
		align-items: center
		justify-content: space-between
	&-plan
		height: 330px
		display: flex
		justify-content: center
		align-items: center
		background: #eaeaea url('../img/home/home__plan.jpg') center center no-repeat
		z-index: 1
	&-gallery
		height: 330px
		display: flex
		justify-content: center
		align-items: center
		background: #eaeaea url('../img/home/home__galery.jpg') center center no-repeat
		z-index: 1
	&-apartment
		height: 330px
		background: #eaeaea url('../img/home/home__appartment.jpg') center center no-repeat
		z-index: 1
		.bannerDescr__text-width
			max-width: 190px
			text-align: center
		.bannerDescr__btn
			padding: 6px 37px

	&-day-in
		height: 400px
		background: #eaeaea url('../img/home/home__dayIn.jpg') center center no-repeat
		z-index: 1
		.bannerDescr__text-width
			max-width: 300px
			text-align: right
		.bannerDescr__btn
			padding: 6px 110px
		.banner__title
			padding-bottom: 70px
			align-self: flex-end
		.bannerDescr
			padding-top: 40px
			align-self: flex-start
		.sectionHome__banner-wrap
			height: 400px
	.banner__title
		position: relative
		font-size: 30px
		font-weight: 300
		line-height: 60px
		text-transform: uppercase
		letter-spacing: 2.1px
		color: #fff
		text-transform: uppercase
		&::before
			position: absolute
			top: 50%
			left: -60px
			transform: translateY(-50%)
			content: ''
			display: inline-block
			width: 40px
			height: 34px
			background: url('../img/svg/leaves-w-w.svg') center center no-repeat

	.bannerDescr
		display: flex
		flex-direction: column
		align-items: center
		margin-right: 70px
		font-size: 14px
		color: #fff
		&__text
			margin-bottom: 25px
			font-weight: 400
			line-height: 26px
			letter-spacing: 0.14px
				
		&__btn
			font-weight: 500
			line-height: 31px
			letter-spacing: 0.7px
/* ===========================Logo_slaider========================*/
.logo-slaider-block
	padding-top: 70px
	padding-bottom: 100px
	position: relative

	.logo-slaider-wrap
		margin: 0 auto
		width: 917px
		display: flex
		justify-content: space-between
		align-items: center
		.logo-slaider-items
			margin: 0 20px
			height: 100%
			line-height: 48px
		.logo-slaider-items
			.logo-link svg.active
				fill: $accent !important
				stroke: $accent !important
				path
					fill: $accent !important
					stroke: $accent !important
				polygon
					fill: $accent !important
				rect
					fill: $accent !important
		.logo-link
			display: block

		.slick-track
			display: flex
			align-items: center
		
	.logo-slaider-btn
		width: 45px
		height: 20px
		padding: 10px
		position: absolute
		top: 55%
		display: flex
		align-items: center
		transform: translateY(-50%)
		svg
			width: 100%
			height: 13px
			.arrow-line
				fill: #568F0A
				stroke-width: 0
			.arrow-angle
				fill: #568F0A
				stroke: #568F0A
				stroke-miterlimit: 10
				stroke-width: 1
		&:hover
			cursor: pointer

		&-left
			left: 0
			svg
				transform: rotate(180deg)
		&-right
			right: 0
/* ===========================Tabs_contact========================*/
.tabs
	a
		color: #000
		display: inline-block
		white-space: normal
	padding: 50px 0
	&__header
		display: flex
		align-items: center
		li
			padding: 16px 0
			color: $accent
			font-size: 14px
			font-weight: 400
			line-height: 18px
			letter-spacing: 0.14px
			flex-basis: 33.3333%
			text-align: center
			border: 1px solid #efefef
			&:hover
				background-color: #efefef
				color: #000
				cursor: pointer
		li.active-li
			background-color: #efefef
			color: #000
	&__content
		position: relative
		min-height: 410px
		.tabs__inner
			display: none
			padding: 50px 70px 60px
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border: 1px solid #efefef
			box-sizing: border-box
		.tabs__inner.active-js
			display: block
			position: relative
			min-height: 410px

		.contact
			&-list
				display: flex
				justify-content: space-between
				&__item
					max-width: 200px
					font-size: 14px
					letter-spacing: 0.14px
					line-height: 24px
					font-weight: 400
					letter-spacing: 0.14px
					color: #000
					.phone-icon
						&::before
							color: $accent
							background: url('../img/svg/phone-icon-g.svg') center center no-repeat
					.email-icon
						&::before
							background: url('../img/svg/email-icon.svg') center center no-repeat
					.location-icon
						&::before
							background: url('../img/svg/location-icon.svg') center center no-repeat
					.clock-icon
						&::before
							background: url('../img/svg/clock-icon.svg') center center no-repeat
				&__title
					margin-bottom: 5px
					font-weight: 700
					color: $accent
					position: relative
					&::before
						display: block
						content: ''
						position: absolute
						width: 16px
						height: 16px
						top: 3px
						left: -36px
					

					


	.mainForm
		display: flex
		flex-wrap: wrap
		justify-content: space-between	
		.btn-fill
			width: 45%
			height: 60px
		&-wrap
			margin-bottom: 30px
			height: 60px
			position: relative
			display: flex
			flex-basis: 45%
			flex-direction: column
		&-wrap.input-focus-js
			.mainForm__text
				transform: translate(-30px, -40px)
		&-wrap.requaired
			&::after
				content: ""
				position: absolute
				right: 0
				top: 0
				display: block
				border: 20px solid transparent
				border-top: 20px solid $accent
				border-right: 20px solid $accent
			&::before
				content: "*"
				position: absolute
				width: 8px
				height: 8px
				right: 9px
				top: -2px
				display: block
				color: #fff
				z-index: 2
				font-size: 25px

		&__text
			position: absolute
			padding-left: 30px
			font-size: 14px
			font-weight: 400
			line-height: 18px
			letter-spacing: 0.14px
			line-height: 60px
			color: #000
			transition: all 0.5s
			.wrap-icon
				margin-right: 30px
				position: relative
				width: 30px
				height: 30px
				border-radius: 50%
				background-color: #689a23
				display: inline-flex
				justify-content: center
				align-items: center
		&__input
			height: 60px
			position: relative
			background: transparent
			border: none
			box-shadow: 0 1px 0 #efefef

/* ===========================Section_footer========================*/
.sectionHome__footer
	min-height: 90px
	background-color: $accent
	color: #fff
	a
		color: #fff
	.row
		display: flex
		justify-content: space-between
		line-height: 90px
		.footer__menu
			display: flex
			flex-basis: 60%
			justify-content: space-between
			li
				a
					position: relative
					color: #fff
					font-size: 16px
					font-weight: 400
					line-height: 30px
					letter-spacing: 0.4px
					&::after
						position: absolute
						bottom: -8px
						left: 0
						content: ''
						display: block
						height: 1px
						width: 100%
						background-color: #fff
						transform: scale(0)
					&:hover
						&::after
							transition: 0.4s
							transform: scale(1)
		.footer-wrap
			display: flex
			align-items: center
			justify-content: space-between
			flex-basis: 30%
			

			.btn-zindex
				height: 40px
				background-color: darken($accent, 3%)
				border: none
				z-index: 2
				&::before
					z-index: -1

/* ===========================preview _banner========================*/

.section-preview
	position: relative
	.container
		position: relative
		height: 100%
	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, .5)
		z-index: -1

	&__title
		position: relative
		display: inline-block
		left: 50%
		transform: translateX(-50%)
		font-size: 30px
		font-weight: 300
		padding-top: 250px
		text-transform: uppercase
		text-align: center
		letter-spacing: 2.1px
		color: #fff
		text-transform: uppercase
		&::before
			position: absolute
			bottom: 10px
			left: -60px
			content: ''
			display: inline-block
			width: 40px
			height: 34px
			background: url('../img/svg/leaves-w-w.svg') center center no-repeat
	&-contact
		height: 420px
		background: #eaeaea url('../img/contacts/contact-page.jpg') center center no-repeat
		background-size: cover
		z-index: 1
	&-web_camera
		height: 420px
		background: #eaeaea url('../img/web-camera/web-bg.jpg') center center no-repeat
		background-size: cover
		z-index: 1
	.breadcrumb
		position: absolute
		bottom: 30px
		left: 0
		display: flex
		li
			margin-right: 40px
			color: #fff
			font-size: 16px
			font-weight: 400
			line-height: 30px
			letter-spacing: 0.4px
		
			
			a
				position: relative
				color: #fff
				font-size: 16px
				font-weight: 400
				line-height: 30px
				letter-spacing: 0.4px
				&::after
					position: absolute
					bottom: -8px
					left: 0
					content: ''
					display: block
					height: 1px
					width: 100%
					background-color: #fff
					transform: scale(0)
				&::before
					position: absolute
					top: 50%
					right: -25px
					transform: translateY(-50%)
					content: '\2022'
					color: #fff
				&:hover
					&::after
						transition: 0.4s
						transform: scale(1)


/* ===========================preview _banner========================*/

.webCamera
	&__video
		position: relative
		height: 0
		width: 100%
		padding-bottom: 56.25%
		background-color: #eaeaea
		&-embed
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border: none

	&__descr











@import "media" // Always at the end
